.redNaoHelper{
    font-size: 10px !important;
    color: #909090 !important;
    line-height: 10px !important;
    margin-left: 4px !important;
    display: block !important;
}


.form-inline .col-sm-2,
.form-inline .col-sm-3,
.form-inline .col-sm-4,
.form-inline .col-sm-5,
.form-inline .col-sm-6{
    padding-left: 0;
}
.redNaoInputArea {
    width:100% !important;
}


.bootstrap-wrapper .form-inline .form-control {
    width: 100% !important;
}



.bootstrap-wrapper .radio{
    padding-top: 0 !important;
}

.bootstrap-wrapper .radio-inline,.bootstrap-wrapper .checkbox-inline{
    padding-top: 0 !important;
}

.bootstrap-wrapper .radio label, .checkbox label{
    padding-left: 22px;
}

.bootstrap-wrapper .iradio_minimal,.bootstrap-wrapper .icheckbox_minimal
{
    margin-right: 5px !important;
}

.bootstrap-wrapper .checkbox-inline,.bootstrap-wrapper .radio-inline{
    padding-left: 0;
}

.bootstrap-wrapper .radio-inline label,.bootstrap-wrapper .checkbox-inline label{
    font-weight: normal !important;
}

.bootstrap-wrapper.compact .col-sm-3,
.bootstrap-wrapper.compact .col-sm-4,
.bootstrap-wrapper.compact .col-sm-5,
.bootstrap-wrapper.compact .col-sm-6,
.bootstrap-wrapper.compact .col-sm-7,
.bootstrap-wrapper.compact .col-sm-8,
.bootstrap-wrapper.compact .col-sm-9,
.bootstrap-wrapper.compact .col-sm-10,
.bootstrap-wrapper.compact .col-sm-11,
.bootstrap-wrapper.compact .col-sm-12,
.bootstrap-wrapper.exptop .rednao_label_container.col-sm-3,
.bootstrap-wrapper.exptop .rednao_label_container.col-sm-4,
.bootstrap-wrapper.exptop .rednao_label_container.col-sm-5,
.bootstrap-wrapper.exptop .rednao_label_container.col-sm-6,
.bootstrap-wrapper.exptop .rednao_label_container.col-sm-7,
.bootstrap-wrapper.exptop .rednao_label_container.col-sm-8,
.bootstrap-wrapper.exptop .rednao_label_container.col-sm-9,
.bootstrap-wrapper.exptop .rednao_label_container.col-sm-10,
.bootstrap-wrapper.exptop .rednao_label_container.col-sm-11,
.bootstrap-wrapper.exptop .rednao_label_container.col-sm-12,
.bootstrap-wrapper.exptop .redNaoControls.col-sm-3,
.bootstrap-wrapper.exptop .redNaoControls.col-sm-4,
.bootstrap-wrapper.exptop .redNaoControls.col-sm-5,
.bootstrap-wrapper.exptop .redNaoControls.col-sm-6,
.bootstrap-wrapper.exptop .redNaoControls.col-sm-7,
.bootstrap-wrapper.exptop .redNaoControls.col-sm-8,
.bootstrap-wrapper.exptop .redNaoControls.col-sm-9,
.bootstrap-wrapper.exptop .redNaoControls.col-sm-10,
.bootstrap-wrapper.exptop .redNaoControls.col-sm-11,
.bootstrap-wrapper.exptop .redNaoControls.col-sm-12

{
    width:100% !important;
}

.rednao-input-prepend.input-group
{
    width:100%;
}


.bootstrap-wrapper.compact .col-sm-2,.bootstrap-wrapper.top .col-sm-2
{
    width:40% !important;
}




.bootstrap-wrapper.compact .checkbox-inline,.bootstrap-wrapper.compact .radio-inline{
    display: block !important;
    margin-left: 0;
}



.bootstrap-wrapper.expleft .col-sm-12 {
    float:left;
    width: 100%  !important;;
}
.bootstrap-wrapper.expleft .col-sm-11 {
    float:left;
    width: 91.66666667%  !important;;
}
.bootstrap-wrapper.expleft .col-sm-10 {
    float:left;
    width: 83.33333333%  !important;;
}
.bootstrap-wrapper.expleft .col-sm-9 {
    float:left;
    width: 75%  !important;;
}
.bootstrap-wrapper.expleft .col-sm-8 {
    float:left;
    width: 66.66666667%  !important;;
}
.bootstrap-wrapper.expleft .col-sm-7 {
    float:left;
    width: 58.33333333%  !important;;
}
.bootstrap-wrapper.expleft .col-sm-6 {
    float:left;
    width: 50%  !important;;
}
.bootstrap-wrapper.expleft .col-sm-5 {
    float:left;
    width: 41.66666667%  !important;;
}
.bootstrap-wrapper.expleft .col-sm-4 {
    float:left;
    width: 33.33333333%  !important;;
}
.bootstrap-wrapper.expleft .col-sm-3 {
    float:left;
    width: 25%  !important;;
}
.bootstrap-wrapper.expleft .col-sm-2 {
    float:left;
    width: 16.66666667%  !important;;
}
.bootstrap-wrapper.expleft .col-sm-1 {
    float:left;
    width: 8.33333333%  !important;;
}








.smartFormsSlider #ui-datepicker-div{
    z-index: 9999999 !important;
}

.bootstrap-wrapper .form-horizontal .form-group{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.bootstrap-wrapper .radio,.bootstrap-wrapper .checkbox
{
    padding-left: 0 !important;
}


.control-group *, input[type=text].redNaoInputText{
    moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;

}

.bootstrap-wrapper .nav-tabs > li > a:hover{
    cursor: default;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.bootstrap-wrapper .form-horizontal .has-feedback .form-control-feedback {
    top: 0 !important;
    right:0 !important;
    margin-right: 0 !important;
}

.bootstrap-wrapper .input-group .glyphicon {
  top: 0px;
}

.has-error .select2-choice,.has-error .select2-choices{
    border-color:#a94442;
}

.bootstrap-wrapper .sfRequiredDot{
    color:red !important;
    position:absolute !important;
    margin-left:2px;
}

@media (max-width:782px) {
    .bootstrap-wrapper .sfRequiredDot{
        color:red !important;
        position:relative !important;
        margin-left:0;
    }
}

#sfTemporalIFrame{
    display:none !important;
}


.rednaoaddress .cityAndState .form-group.col-sm-6{
    margin-bottom:10px;
}


.sfClearFloat{
    clear:both !important;
    width:0 !important;
    height:0 !important;
    padding:0 !important;
    margin:0 !important;
}



.bootstrap-wrapper .has-feedback-left .form-control {
    padding-left: 30px !important;
    padding-right: 12px;
}



.bootstrap-wrapper .has-feedback-left .form-control-feedback {
    left: 0;
    top:0;
}


.bootstrap-wrapper .input-group.has-feedback-left .form-control-feedback {
    left: 0;
}

.sfPlaceHolderIcon{
    font-size:14px;
    color:#ccc;
}

.sfPlaceHolderIcon.sfActive{
    color:#66afe9;
    -webkit-transition: color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}


.bootstrap-wrapper .redNaoCheckBox span{
    vertical-align:middle;
}

.bootstrap-wrapper span.text-muted{
    cursor:auto !important;
}

.bootstrap-wrapper .popover.invalid{
    background-color: #B22222 !important;
    color:white;
}

.bootstrap-wrapper .popover.invalid{
    background-color: #B22222 !important;
    color:white;
}

.bootstrap-wrapper .popover.invalid.right > .arrow:after{
    border-right-color: #B22222 !important;
}

.bootstrap-wrapper .popover.invalid.left > .arrow:after{
    border-left-color: #B22222 !important;
}

.bootstrap-wrapper .popover.invalid.top > .arrow:after{
    border-top-color: #B22222 !important;
}

.bootstrap-wrapper .popover.invalid.bottom > .arrow:after{
    border-bottom-color: #B22222 !important;
}

.fuelux .popover{
    min-width: 160px !important;
}

#captcha2.has-error #rc2captcha2 > div{
    border-color:#a94442;
    border-style:solid;
    border-width: 1px;
}

#formSettingsScrollArea{
    -mox-box-sizing: content-box;
    box-sizing: content-box;
}


.bootstrap-wrapper .form-inline .has-feedback-left .form-control-feedback {
    left: 0px;
    top:0;
}

.bootstrap-wrapper .jq-ry-container{
    padding-left: 0px !important;
}

.bootstrap-wrapper .image_picker_selector li{
    list-style: none !important;
}

.bootstrap-wrapper .rednaoimagepicker  .thumbnail{
    text-align: center;
    margin-bottom: 15px;
}

.bootstrap-wrapper .rednaoimagepicker  .thumbnail p{
    margin-bottom: 0 !important;
}

.bootstrap-wrapper .rednaoimagepicker.has-error .thumbnail{
    border-color:#a94442;
}

.bootstrap-wrapper .rednaoimage .redNaoControls{
    text-align: center;
}

.bootstrap-wrapper .rednaoimage .redNaoControls .rednaoImageImg{
    border-color: #dddddd;
    border-style: solid;
    border-width: 1px;
}

.bootstrap-wrapper ul.thumbnails.image_picker_selector li {
    margin: 0px 10px 0 0px;
}

.bootstrap-wrapper .form-group.rednaoimagepicker  {
    margin-bottom: 0;
}

.bootstrap-wrapper .popover.right .popover-content {
    min-width: 200px;
}


.fieldContainerOfFields{
    float:left;
    width:100%;
}

.signatureContainer{
    background-color: #eee;
    border-color: #ddd;
    border-style: dashed;
    border-width: 2px;

}

.sfClearSignature{

    overflow: hidden !important;;
    position: absolute !important;;
    padding: 0 1px 0 2px !important;;
    right:0px;
}

.has-error .signatureContainer{
    border-color:#a94442;
    border-style:solid;
}

.wtHolder{
    width:auto !important;;
    height:auto !important;
}

.repeaterAddButton{
    margin:2px !important;
}

.repeaterAddButton span{
    margin:0 !important;
    padding:0 !important;
}


.bootstrap-wrapper  .col-sm-1,.bootstrap-wrapper  .col-sm-2,.bootstrap-wrapper  .col-sm-3,.bootstrap-wrapper  .col-sm-4,.bootstrap-wrapper  .col-sm-5,.bootstrap-wrapper  .col-sm-6,.bootstrap-wrapper  .col-sm-7,.bootstrap-wrapper  .col-sm-8,.bootstrap-wrapper  .col-sm-9,.bootstrap-wrapper  .col-sm-10,.bootstrap-wrapper  .col-sm-11,.col-sm-12{
    max-width:100% !important;
    flex: 0 1 auto !important;
}


.bootstrap-wrapper .has-feedback-left,.bootstrap-wrapper .has-feedback {
    position: relative;
}

.bootstrap-wrapper .bootstrap-timepicker-widget input{
    padding:2px;
}